.li {
    list-style-type: none;
    align-items: center;
}

table{
    border-collapse: collapse;
    background-color: white;
    color: black;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    text-align: center;
    width: 100%;
}

th{
    padding: .5em 1em;
    border-bottom: 2px black solid;
    width: calc(55% / 4);
}

th:first-child{
    width: 45%;
}

td{
    border: thin black solid;
    padding: .5em 1em;
}

tbody tr:nth-child(2n+1) > td{
    background-color: rgba(0, 0, 0, .1);
}

table a{
    color: blue;
    cursor: pointer;
}