.publier{
    background-color: #28B620;
    border: 2px solid #209119;
}

div.articleHeader{
    display: flex;
    align-items: baseline;
}

form.deplacer select{
    margin-left: 1em;
}

form.supr button{
    background-color: #b62028;
    border-color: #911920;
    color: white;
    margin: 0 1em;
}