main{
    display: flex;
    height: calc(100vh - var(--header_height));
}

form{
    margin: auto;
    padding: 1.5em;
    background-color: var(--background_tint1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2{
    margin: 0 0 .5em 0;
}

form input, form button{
    margin-bottom: .5em;
}

form a{
    margin-top: .5em;
}