@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --main: #4288AE;
    --text: white;
    --header_height: 8vh;
    --background: #70645c;
    --background_tint1: #8C837C;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    margin: 0;
}

main{
    color: white;
    padding: 0 10vw;
}

header{
    height: var(--header_height);
    padding: 0 2vw;
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    margin: 0;
    color: var(--text);
}

header nav{
    display: flex;
}

header nav a{
    border-right: solid black 2px;
    padding: 0 .8em;
}

header nav a:last-child{
    border-right: none;
    padding-right: 0;
}

a{
    color: var(--text);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn{
    padding: .5em 1em;
    border: none;
    background-color: var(--main);
    color: var(--text);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btnCorner{
    padding: .5em 1em;
    position: fixed;
    right: 0;
    top: var(--header_height);
    color: white;
    font-weight: bold;
    font-size: .9rem;
    cursor: pointer;
}

.error{
    color: #b62028;
}

button[disabled]{
    cursor: not-allowed;
}