form{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}

form h2{
    margin: 0 0 .5em 0;
}

form>div{
    display: flex;
}

form input{
    width: 100%;
    margin-left: 1em;
}

#contenu{
    height: 55vh;
}

.btnCorner {
    background-color: #28B620;
    border: 2px solid #209119;
}