main{
    padding-right: 15vw;
}

.reject{
    background-color: #b62028;
    border: 2px solid #911920;
}

main h2{
    margin-bottom: 0;
}

main h3{
    margin-top: 0;
}

main aside{
    position: fixed;
    right: 0;
    top: calc(var(--header_height) + 3.5em);
    padding: .5em;
    background-color: var(--background_tint1);
}

main aside form{
    display: flex;
    flex-direction: column;
}

main aside button{
    margin-top: .5em;
}
