<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:include="main :: head(other_css=@{/statics/accueil.css})">
</head>
<body>
    <div th:replace="main :: header"></div>

    <main>
        <ul>
        <th:block th:each="journal : ${journaux}">
            <h2><a th:href="@{/voirJournal/{id}(id=${journal.idJ})}" th:text="'Journal ' + ${journal.numero} + ', ' + ${#dates.format(journal.datePublication, 'dd/MM/yyyy')}">..</a></h2>
            <table>
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Theme</th>
                    <th>Auteur</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="article : ${journal.articles}">
                    <tr>
                        <td th:text="${article.titre}"></td>
                        <td th:text="${article.theme}"></td>
                        <td th:text="${article.auteur.login}"></td>
                        <td th:text="${#dates.format(article.dateCreation, 'dd/MM/yyyy')}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </th:block>
        </ul>

   </main>
</body>
</html>