<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:include="main :: head(other_css=@{/statics/gererJournal.css})">
</head>
<body>
<div th:replace="main :: header"></div>

<main>
    <form method="post" th:action="@{/publierJournal/{id}(id=${idJ})}">
        <button type="submit" class="btnCorner publier" th:disabled="${articles.size() == 0}">Publier</button>
    </form>
    <h2 th:if="${articles.size() == 0}">Aucun article dans ce journal.</h2>

    <div class="article" th:each="a : ${articles}">
        <div class="articleHeader">
            <h2 th:text="${a.titre}"></h2>
            <form class="deplacer" method="post" th:action="@{/deplacerArticle/{idJ}(idJ=${idJ})}">
                <input type="hidden" name="idArticle" th:value="${a.idA}">
                <select name="position" onchange="this.form.submit()">
                    <th:block th:each="i : ${#numbers.sequence( 0, articles.size()-1)}">
                        <option th:value="${i}" th:text="${i}" th:selected="${i == a.getPosition()}"></option>
                    </th:block>
                </select>
            </form>
            <form class="supr" method="post" th:action="@{/rejeterArticleJournal/{idJ}/{idA}(idJ=${idJ}, idA=${a.idA})}">
                <button type="submit">Supprimer</button>
            </form>
        </div>

        <p th:text="${p}" th:each="p : ${a.contenu.split('\n|\\n')}"></p>
    </div>

    <script>

    </script>
</main>
</body>
</html>