<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:include="main :: head(other_css=@{/statics/login.css})">
</head>
<body>
    <div th:replace="main :: header"></div>

    <main>
        <form method="post" th:object="${loginFormDto}">
            <h2 th:text="${mode.equals('con') ? 'Connexion' : 'Inscription'}"></h2>
            <input type="text" id="login" th:field="*{login}" placeholder="Identifiant" autofocus>
            <input type="password" id="password" th:field="*{password}" placeholder="Mot de passe">
            <p class="error" th:if="${msg} != null" th:text="${msg}"></p>

            <button type="submit" class="btn">Se connecter</button>
            <a th:if="${mode.equals('con')}" th:href="@{/inscription}">Inscription</a>
            <a th:if="${!mode.equals('con')}" th:href="@{/login}">Connexion</a>
        </form>
    </main>
</body>
</html>