<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:fragment="head(other_css)">
    <meta charset="UTF-8">
    <title>Le Super Journal</title>
    <link rel="icon" th:href="@{/statics/icon.ico}">
    <link rel="stylesheet" th:href="@{/statics/main.css}"/>
    <link th:if="${other_css} != null" rel="stylesheet" th:href="${other_css}"/>
</head>
<body>
    <header th:fragment="header">
        <h1>Le Super Journal <th:block th:if="${titre} != null" th:text="' - '+${titre}"></th:block></h1>
        <nav>
            <a th:href="@{/}">Accueil</a>

            <th:block th:if="${user != null}" th:switch="${user.getRole()}">
                <a th:case="${T(entities.Utilisateur.ROLES).JOURNALISTE}" th:href="@{/redaction}">Écrire un article</a>
                <a th:case="${T(entities.Utilisateur.ROLES).ASSISTANT}" th:href="@{/trierArticles}">Trier les articles</a>
                <a th:case="${T(entities.Utilisateur.ROLES).CHEF}" th:href="@{/trierArticles}">Gérer les journaux</a>
            </th:block>

            <th:block th:if="${user == null}">
                <a th:href="@{/login}">Connexion</a>
                <a th:href="@{/inscription}">Inscription</a>
            </th:block>
            <a th:if="${user != null}" th:href="@{/logout}">Déconnexion</a>
        </nav>
    </header>
</body>
</html>