<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:include="main :: head(other_css=@{/statics/redaction.css})">
</head>
<body>
<div th:replace="main :: header"></div>

<main>
    <form method="post" th:object="${redactionFormDto}">
        <h2 th:text="Redaction"></h2>
        <div>
            <select name="theme" th:field="*{theme}">
                <option th:each="theme : ${T(entities.Article.THEMES).values()}" th:value="${theme}" th:text="${theme}"></option>
            </select>
            <input type="text" th:field="*{titre}" placeholder="Titre sympa" autofocus>

        </div>

        <textarea id="contenu" th:field="*{contenu}" placeholder="Contenu de l'article"></textarea>

        <button type="submit" class="btnCorner">Valider</button>
    </form>

</main>
</body>
</html>