<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:include="main :: head(other_css=@{/statics/trierArticles.css})">
</head>
<body>
    <div th:replace="main :: header"></div>

    <main>
        <div class="triJournal" th:if="${journaux != null}">
            <h2>Gérer les journaux</h2>
            <table>
                <thead>
                    <tr>
                        <th>Journal</th>
                        <th>Nombre d'article</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr th:if="${journaux.size() == 0}">
                    <td colspan="3">Aucun journal en cours</td>
                </tr>
                <th:block th:each="j : ${journaux}">
                    <tr>
                        <td th:text="${'Journal '+j.numero}"></td>
                        <td th:text="${j.getArticles().size()}"></td>
                        <td><a th:href="@{/gererJournal/{id}(id=${j.idJ})}">Visualiser</a></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <form method="post" th:action="@{/newJournal}">
                <button type="submit" class="btn">Nouveau journal</button>
            </form>
        </div>

        <h2>Trier les articles</h2>
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Thème</th>
                    <th>Auteur</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr th:if="${articles != null && articles.size() == 0}">
                <td colspan="5">Aucun article à trier.</td>
            </tr>
            <th:block th:each="article : ${articles}">
                <tr>
                    <td th:text="${article.titre}"></td>
                    <td th:text="${article.theme}"></td>
                    <td th:text="${article.auteur.login}"></td>
                    <td th:text="${#dates.format(article.dateCreation, 'dd/MM/yyyy')}"></td>
                    <td><a th:href="@{/voirArticle/{id}(id=${article.idA})}">Visualiser</a></td>
                </tr>
            </th:block>
            </tbody>
        </table>

    </main>
</body>
</html>