<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:include="main :: head(other_css=@{/statics/voirJournal.css})">
</head>
<body>
<div th:replace="main :: header"></div>

<main>
    <h2 th:text="'Journal ' + ${journal.numero}"></h2>

    <th:block th:each="article : ${journal.articles}">
        <h3 th:text="${article.titre} + ' - ' + ${article.theme}"></h3>
        <h4 th:text="${article.auteur.login} + ' le ' + ${#dates.format(article.dateCreation, 'dd/MM/yyyy')}"></h4>

        <p th:text="${p}" th:each="p : ${article.contenu.split('\n|\\n')}"></p>
    </th:block>

</main>
</body>
</html>