<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:include="main :: head(other_css=@{/statics/voirArticle.css})">
</head>
<body>
<div th:replace="main :: header"></div>

<main>
    <form method="post" th:action="@{/rejeterArticle/{id}(id=${article.idA})}">
        <button type="submit" class="btnCorner reject">Rejeter</button>
    </form>
    <aside>
        <form method="post" th:action="@{/ajouterArticle}">
            <input type="hidden" name="idArticle" th:value="${article.idA}">
            <select name="idJournal">
                <th:block th:each="j : ${listeJournal}">
                    <option th:value="${j.getIdJ()}" th:text="${'Journal '+j.getIdJ()}"></option>
                </th:block>
            </select>
            <button type="submit" class="btn">Ajouter l'article</button>
        </form>
    </aside>

    <h2 th:text="${article.titre}"></h2>
    <h3 th:text="${article.theme}+' par '+${article.auteur.login}+', '+${#dates.format(article.dateCreation, 'dd/MM/yyyy')}"></h3>
    <p th:text="${p}" th:each="p : ${article.contenu.split('\n|\\n')}"></p>
</main>
</body>
</html>